[submodule "test/test2"]
	path = test/test2
	url = https://github.com/BobTheBot988/test2
[submodule "hook"]
	path = hook
	url = https://github.com/BobTheBot988/claude_hooks_rs
[submodule "test/test3"]
	path = test/test3
	url = https://github.com/BobTheBot988/test3
[submodule "test/test4"]
	path = test/test4
	url = https://github.com/BobTheBot988/test4
[submodule "test/test5"]
	path = test/test5
	url = https://github.com/BobTheBot988/sec_proj.git
[submodule "mcp-synthesizer"]
	path = mcp-synthesizer
	url = git@github.com:LucaSforza/mcp-synthesizer.git
